[submodule "third-party/googletest"]
	path = core/third-party/googletest
	url = https://github.com/google/googletest
[submodule "third-party/lmdb"]
	path = core/third-party/lmdb
	url = https://github.com/LMDB/lmdb
[submodule "third-party/pistache"]
	path = core/third-party/pistache
	url = https://github.com/oktal/pistache
